*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #311847, #3EB9E6);
}
.weather-box{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Abel',sans-serif;
    animation: introduction;
    animation-duration: 2s;
}
.row1{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid white;
    padding-bottom: 30px;
}
.weather-location{
    color: white;
    font-size: 50px;
}
.weatherType{
    width: 100px;
}
.row2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
}
.row2:hover .temp{
    color: #311847;
}
.row2:hover .temp-type{
    color: white;
}
.temp{
    color: white;
    font-size: 80px;
    cursor: pointer;
    pointer-events: auto;
    transition: color 1s;
}
.temp-type{
    color: #3EB9E6;
    font-size: 65px;
    cursor: pointer;
    transition: color 1s;
}
.weather-description{
    display: flex;
    text-align: center;
    color: beige;
    margin-left: 100px;
}
.tempBase{
    display: flex;
    flex-direction: row;
}
.card-title{
    margin-bottom: 100px;
    color: beige;
    font-size: 40px;
    font-weight: 100px;
}
.made-by{
    color: beige;
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 10px;
    font-size: 18px;
}
.wind{
    color: white;
    font-size: 20px;
    margin-right: 20px;
}
.weatherType2{
    width: 50px;
}
.insiderow{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.temp1{
    color: white;
    margin-right: 10px;
    font-size: 25px;
}
.windNums{
    display: flex;
    flex-direction: row;
}
.biginsiderow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nowYouAre{
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 15px;
}
.logo{
    height: 100px;
    display: flex;
    position: relative;
    bottom: 50px;
    margin: 0 auto;
}
@media screen and (max-width: 480px) {
    
    .row1{
        flex-direction: column;
    }
    .weather-location{
        font-size: 30px;
    }
    .made-by{
        display: none;
    }
    .container{
        height: 100vh;
    }
    .row2{
        flex-direction: column;
    }
    .weather-description{
        margin: 0 auto;
    }
    .weather-box{
        justify-content: space-around;
        
    }
    .biginsiderow{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .wind{
        margin-right: 50px;
    }
}